<%let itemNumber = items.length %>
<div class="menuContainer">
    <link rel="stylesheet" type="text/css" href="/itemListForOrder.css">
    <ul class="menuList">
        <% items.forEach(function(item, id) { %>
            <li>
                <p class="itemName"><%= item.itemName %></p><br>
                <p class="price"><%= item.price %> €</p>
                <p class="description"><%= item.description%></p>
                <button id="<%=id%>" name="<%=item.itemName%>">Add to your order</button><%})%>
            </li>
    </ul>
</div>
<aside id="listContainter">
    <h2>Your oder:</h2>
    <ul id="list"></ul>
    <h2 id="total"></h2>
    <form id="paynow" action="/user/orderstatus" method="post">
        <input type="submit" id="paybtn" value="Pay Now">
    </form>
</aside>
<script>
    //creating local order list and sending it via POST to Node.js
    let btnArr = []
    let i = 0
    let total = 0.00
    <%items.forEach(()=>{ %>
    btnArr.push(document.getElementById(i))
    i=i+1
    <%})%>
    let retrivePrice = function(btn) {
        let priceArr = document.getElementsByClassName('price')
        return Number.parseFloat((priceArr [btn.getAttribute('id')]).textContent)
    }
    btnArr.forEach(item => {
        item.addEventListener('click', ()=>{
            total = Number.parseFloat(total) + retrivePrice(item)
            total = total.toFixed(2)
            //create a hidden input to send DATA trough post in case of Adding product to the list
            const input = document.createElement('input')
            input.setAttribute('type', 'text')
            input.setAttribute('name', 'itemNameInput')
            input.setAttribute('class', 'hidden')
            input.setAttribute('value', item.getAttribute('Name'))
            document.getElementById('paynow').appendChild(input)
            //manipulating local for User Experience purposes
            console.log('click' + item.getAttribute('Name'))
            const listItem = document.createElement('li')
            const newElText = document.createElement('span')
            newElText.textContent =item.getAttribute('Name')
            const delButton = document.createElement('button')
            delButton.classList.add('delbtn')
            delButton.textContent = 'X'
            listItem.appendChild(newElText)
            listItem.appendChild(delButton)
            document.getElementById("list").appendChild(listItem)
            delButton.addEventListener('click', () => {
                document.getElementById("list").removeChild(listItem)
                total = Number.parseFloat(total) - retrivePrice(item)
                total = total.toFixed(2)
                document.getElementById('total').textContent = 'Your total is: ' + total
                //hidden input manipulation
                document.getElementById("paynow").removeChild(input)
            })
            document.getElementById('total').textContent = 'Your total is: ' + total
        })
    })
    //including total for DATA transfer in FORMDATA
    document.getElementById("paybtn").addEventListener("click", function () {
    const inputNum = document.createElement('input')
    inputNum.setAttribute('type', 'number')
    inputNum.setAttribute('class', 'hidden')
    inputNum.setAttribute('name', 'total')
    inputNum.setAttribute('value', Number.parseFloat(total))
    document.getElementById('paynow').appendChild(inputNum)})
</script>