<link rel="stylesheet" type="text/css" href="/orderListForChef.css">
<div class="orderContainer">
    <h2>Oder List:</h2>
    <p>Use the selector to change the status of an order...</p><br>
    <p>The order marked as completed will be available to the admin to see them in form of receipts and eliminated from orders database collection</p><br>
<ul class="orderList">
    <% items.forEach(function(item, id) { %>
    <li class="biglist">
        <form action="/chef/chefpanel" method="post">
        <p class="username">This order was requested by: <strong><%= item.username %></strong></p><br>
            <input type="submit" id="markcompleted<%=id%>" class="markcompleted" name="markcompleted" value="Mark order as completed">
        <ul>
        <%item.itemNameArray.forEach(function (itemName) {%>
                <li class="itemList"><%= itemName %> </li><%})%>
        </ul>
            <label>Choose a status: <br>
                <select name="status">
                    <option value="pending">Pending</option>
                    <option value="processing">Processing</option>
                    <option value="ready">Ready</option>
                </select>
            </label>
            <span>
                Current status: <%=item.status%>
            </span>
            <label class="hidden">
                <input type="text" name="_id" value="<%=item._id%>">
            </label>
            <input type="submit" class="changestatus" id="changestatus<%=id%>" name="changestatus" value="Change Order Status">
        </form>
        <%})%>
    </li>
</ul>
    <script>
        const eventSource = new EventSource('http://localhost:3000/user/orderstatus', { withCredentials: true })
        eventSource.onmessage = (e) => {
            console.log("Ping arrived!!")
            window.alert(`A new order has arrived or data is changed for whatever reason the page will be refreshed for you to see the updated order list...`)
            window.setTimeout(function(){
                //refresh current page
                window.location.href = "http://localhost:3000/chef/chefpanel"
            }, 100)
        }
    </script>
</div>